html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
main.login {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-color: aqua;
  background-image: url("https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}
.content-login {
  color: black;
  width: 70vw;
  height: 90vh;
  background-color: transparent;
}
.content-login label {
  font-size: 23px;
}
.content-login .card {
  background: transparent;
  border: none;
}
.content-login .card .card-body {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.col-md-6.ilust {
  font-family: "Pacifico", cursive;
  padding: 50px;
  text-align: center;
  height: 83vh;
  background-color: rgb(216, 220, 236);
  border-radius: 10px 0 0 10px;
}
.col-md-6.ilust img {
  width: 100%;
  height: 80%;
}
.form-login-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-md-6.login {
  font-family: "Roboto", sans-serif;
  height: 83vh;
  background-color: rgb(154, 170, 226);
  padding: 50px;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
}
.form.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form.login .form-group {
  width: 80%;
}
.col-md-6.login h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
}
.col-md-6.login p {
  text-align: center;
  font-style: italic;
  font-size: small;
  color: #F73434;
  font-weight: bold;
  font-size: 15px;
  position: absolute;

}
.btn-login {
  text-align: center;
  color: white;
  background: rgb(0, 0, 0);
  width: 100%;
}
.btn {
  width: 100%;
}
.btn-login:hover {
  color: white;
  background: rgb(0, 0, 0);
}
.link-account {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1em;
}
.link-account:hover {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .col-md-6.ilust {
    display: none;
  }
  .col-md-6.login {
    border-radius: 10px;
    padding-bottom: 10px;
  }
  .link-account {
    font-size: 0.8em;
  }
  .form {
    padding-bottom: 20px;
  }
}
