html,body {
  margin: 0;
   font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  padding: 8px;
  font-size: 25px;
  font-weight: bolder;
}
h3{
  font-weight: bold;
}
.header img{
  height: 35px;
  width: 35px;
  margin-bottom: 5px;
}

.main{
  display: flex;
  width: 100%;
}
.left{
  display: flex;
  flex: 0.2;
  justify-content: center;
  min-width: 70px;
  max-width: 70px;
  padding-left: 10px;
  height: 93.1vh;
  overflow: hidden;
}
.left li{
   margin: 10px auto;
}

.left img{
  width: 35px;
  height: 35px;

}

.items{
  overflow: scroll;
  height: 93.3vh;
  background-color: rgba(190, 195, 202, 0.3);
  flex: 3.8;
  padding: 10px;
  overflow-x: hidden;
  font-size: 35px;
}

.items .food{
  padding-bottom: 15px;
}
.items .food .checklist img{
  width: 40px;
  height: 40px;
}

.items .card{
  border: none;
  font-size: 14px;
}

.items .card p{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 33px;
}
.food .card .image-card img{
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.food .card .image-card img:hover{
  opacity: .6;
}
.card .image-card .checklist {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
}

.card .image-card .checklist img{
  width: 60px;
  height: 60px;
}
.card .image-card:hover .checklist{
    opacity: 1;
}

.cart{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4px;
  font-size: 24px;
  background: white;

}
.cartBar{
  background: white;
}

.right-bar{
  text-align:  center;
  overflow-y: scroll;
  height: 93vh;
}
.right-bar img{
  width: 250px;
  height: 250px;
}
.right-bar .img-cart .pic{
  width: 70%;
  height: 70%;
  border-radius: 6px;

}


.right-bar .name-cart button{
  width: 30%;
  height: 30%;
  border-radius: 5%;
  margin: 0 5px;
  background-color: #82DE3A;
  border: none;
  outline: none;
  font-size: large;
}
.right-bar .name-cart button:focus{
  border: none;
  outline: none;
}
.right-bar .name-cart button:active{
  background-color: #54bd03;
}

.right-bar .name-cart .counter{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.right-bar .price-cart p{
  text-align: center;
}


.modal .modal-header{
  border-bottom: none;
  
  
}
.modal-footer{
  border-top:  none;
}


.modal .modal-body .row{
  margin-bottom: 10px;
}
.modal input, .modal select{
  border-radius: 8px;
}
.modal .price{
  width: 70%;
}
.modal .category{
  width: 50%;
}

.modal .btn-cancel{
  width: 130px;
  background-color: #F24F8A;
}
.modal .btn-add{
  width: 130px;
  background-color:  #57CAD5;
}


@media screen and (max-width:800px){
  .cart{
    padding: 2.5px;
  }
  .cartBar {
    transform: translateX(100%);
    position: absolute;
    width: 80vw;
    right: 0;
    height: 100vh;
    transition: 1s ease;
  }  
  .cartBar.show{
    transform: translateX(0);
  }
}

@media screen and (min-width:767px){
  .cart,.header {
    font-size: 27px;
    font-weight: bold;

  }
  .right-bar .img-cart .pic{
    width: 100%;
    height: 100%;
  
  }
  .right-bar .name-cart .counter{
    border: #54bd03 solid .3px;
  }

}
